In [1]:
import pandas as pd

df = pd.read_csv('credit_card_data.csv', skiprows = 1)

df.set_index('ID', inplace=True)

df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [2]:
df.columns = df.columns.str.lower()
df.rename({'default payment next month': 'default'}, axis= 1, inplace= True)

In [3]:
# no nulls, 30k data points
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
limit_bal    30000 non-null int64
sex          30000 non-null int64
education    30000 non-null int64
marriage     30000 non-null int64
age          30000 non-null int64
pay_0        30000 non-null int64
pay_2        30000 non-null int64
pay_3        30000 non-null int64
pay_4        30000 non-null int64
pay_5        30000 non-null int64
pay_6        30000 non-null int64
bill_amt1    30000 non-null int64
bill_amt2    30000 non-null int64
bill_amt3    30000 non-null int64
bill_amt4    30000 non-null int64
bill_amt5    30000 non-null int64
bill_amt6    30000 non-null int64
pay_amt1     30000 non-null int64
pay_amt2     30000 non-null int64
pay_amt3     30000 non-null int64
pay_amt4     30000 non-null int64
pay_amt5     30000 non-null int64
pay_amt6     30000 non-null int64
default      30000 non-null int64
dtypes: int64(24)
memory usage: 5.7 MB

In [4]:
df.describe().iloc[:,5:]

,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,51223.330900,49179.075167,4.701315e+04,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,73635.860576,71173.768783,6.934939e+04,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3558.750000,2984.750000,2.666250e+03,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22381.500000,21200.000000,2.008850e+04,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67091.000000,64006.250000,6.016475e+04,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [5]:
# drop the education = 0 and marriage = 0 they are likely unknowns
df.education.value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: education, dtype: int64

In [6]:
df.marriage.value_counts()

2    15964
1    13659
3      323
0       54
Name: marriage, dtype: int64

In [7]:
df.drop(df[df['education']==0].index, inplace=True)
df.education.value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
Name: education, dtype: int64

In [8]:
df.drop(df[df['marriage']==0].index, inplace=True)
df.marriage.value_counts()

2    15954
1    13655
3      323
Name: marriage, dtype: int64

TRYING to figure out arrears relating to default

In [9]:
df.pay_0.value_counts()

 0    14713
-1     5667
 1     3678
-2     2749
 2     2663
 3      322
 4       76
 5       25
 8       19
 6       11
 7        9
Name: pay_0, dtype: int64

In [10]:
df['default'].value_counts()

0    23301
1     6631
Name: default, dtype: int64

In [11]:
df[df['default']==0].pay_0.value_counts(normalize=True)

 0    0.550491
-1    0.202266
 1    0.104159
-2    0.102356
 2    0.035192
 3    0.003347
 4    0.001030
 5    0.000515
 8    0.000343
 6    0.000215
 7    0.000086
Name: pay_0, dtype: float64

In [12]:
df[df['default']==1].pay_0.value_counts(normalize=True)

 0    0.284422
 2    0.277937
 1    0.188659
-1    0.143870
-2    0.054894
 3    0.036797
 4    0.007842
 5    0.001960
 8    0.001659
 7    0.001056
 6    0.000905
Name: pay_0, dtype: float64

In [13]:
df.columns

Index(['limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2',
       'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default'],
      dtype='object')

In [14]:
df[df['default']==0]['bill_amt1'].hist();

In [15]:
df[df['default']==1].iloc[:20,5:24]

,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default
ID,,,,,,,,,,,,,,,,,,,
1,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
2,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
14,1,2,2,0,0,2,65802,67369,65701,66782,36137,36894,3200,0,3000,3000,1500,0,1
17,0,0,2,2,2,2,15376,18010,17428,18338,17905,19104,3200,0,1500,0,1650,0,1
22,-1,-1,-1,-1,-1,-1,316,316,316,0,632,316,316,316,0,632,316,0,1
23,2,0,0,2,2,2,41087,42445,45020,44006,46905,46012,2007,3582,0,3601,0,1820,1
24,-2,-2,-2,-2,-2,-2,5512,19420,1473,560,0,0,19428,1473,560,0,0,1128,1
27,1,-2,-1,-1,-1,-1,-109,-425,259,-57,127,-189,0,1000,0,500,0,1000,1
32,2,0,0,0,0,0,30518,29618,22102,22734,23217,23680,1718,1500,1000,1000,1000,716,1
39,1,-1,-1,-2,-2,-2,0,780,0,0,0,0,780,0,0,0,0,0,1
46,-2,-2,-2,-2,-2,-2,0,0,0,0,0,0,0,0,0,0,0,0,1
47,0,0,2,-1,0,0,14028,16484,15800,16341,16675,0,3000,0,16741,334,0,0,1
48,0,0,-1,0,0,-2,4463,3034,1170,1170,0,0,1013,1170,0,0,0,0,1
51,1,2,2,2,2,0,37042,36171,38355,39423,38659,39362,0,3100,2000,0,1500,1500,1
61,0,0,0,0,0,0,22848,23638,18878,14937,13827,15571,1516,1300,1000,1000,2000,2000,1
63,2,2,2,2,2,2,24987,24300,26591,25865,27667,28264,0,2700,0,2225,1200,0,1
64,0,0,0,-2,-2,-2,28718,29166,0,0,0,0,1000,0,0,0,0,0,1
66,-2,-2,-2,-1,2,2,152519,148751,144076,8174,8198,7918,0,0,8222,300,0,1000,1
67,2,2,2,0,0,0,2097,4193,3978,4062,4196,4326,2300,0,150,200,200,160,1
72,2,2,2,2,2,2,58267,59246,60184,58622,62307,63526,2500,2500,0,4800,2400,1600,1

In [16]:
# calculate payment as a % of prev months balance
for i in range(1,6):
    df[f'pay%_{i}'] = df[f'pay_amt{i}'] / df[f'bill_amt{i+1}']

In [17]:
df.head()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,pay%_1,pay%_2,pay%_3,pay%_4,pay%_5
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,1,0.000000,1.000000,NaN,NaN,NaN
2,120000,2,2,2,26,-1,2,0,0,0,...,1000,1000,0,2000,1,0.000000,0.372856,0.305623,0.289436,0.000000
3,90000,2,2,2,34,0,0,0,0,0,...,1000,1000,1000,5000,0,0.108220,0.110628,0.069779,0.066899,0.064313
4,50000,2,2,1,37,0,0,0,0,0,...,1200,1100,1069,1000,0,0.041465,0.040961,0.042382,0.037985,0.036180
5,50000,1,2,1,57,-1,0,-1,0,0,...,10000,9000,689,679,0,0.352734,1.023608,0.477555,0.470072,0.036015

In [18]:
# education: group 4,5,6 into one bin as these are all unkowns

df['education'] = df['education'].map(lambda x: 4 if x >= 4 else x)
df.education.value_counts()

2    14024
1    10581
3     4873
4      454
Name: education, dtype: int64

In [19]:
df['arrears_1'] = df['pay_0'].map(lambda x: 3 if x >= 3 else x)

# pay_i: group 3 or more arrears into a new series
for i in range(2,7):
    df[f'arrears_{i}'] = df[f'pay_{i}'].map(lambda x: 3 if x >= 3 else x)

In [20]:
df.head()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,pay%_2,pay%_3,pay%_4,pay%_5,arrears_1,arrears_2,arrears_3,arrears_4,arrears_5,arrears_6
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,1.000000,NaN,NaN,NaN,2,2,-1,-1,-2,-2
2,120000,2,2,2,26,-1,2,0,0,0,...,0.372856,0.305623,0.289436,0.000000,-1,2,0,0,0,2
3,90000,2,2,2,34,0,0,0,0,0,...,0.110628,0.069779,0.066899,0.064313,0,0,0,0,0,0
4,50000,2,2,1,37,0,0,0,0,0,...,0.040961,0.042382,0.037985,0.036180,0,0,0,0,0,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,1.023608,0.477555,0.470072,0.036015,-1,0,-1,0,0,0

In [21]:
df.isna().sum()

limit_bal       0
sex             0
education       0
marriage        0
age             0
pay_0           0
pay_2           0
pay_3           0
pay_4           0
pay_5           0
pay_6           0
bill_amt1       0
bill_amt2       0
bill_amt3       0
bill_amt4       0
bill_amt5       0
bill_amt6       0
pay_amt1        0
pay_amt2        0
pay_amt3        0
pay_amt4        0
pay_amt5        0
pay_amt6        0
default         0
pay%_1       2460
pay%_2       2803
pay%_3       3139
pay%_4       3438
pay%_5       3945
arrears_1       0
arrears_2       0
arrears_3       0
arrears_4       0
arrears_5       0
arrears_6       0
dtype: int64

In [25]:
df_1 = df.dropna(axis=1)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29932 entries, 1 to 30000
Data columns (total 30 columns):
limit_bal    29932 non-null int64
sex          29932 non-null int64
education    29932 non-null int64
marriage     29932 non-null int64
age          29932 non-null int64
pay_0        29932 non-null int64
pay_2        29932 non-null int64
pay_3        29932 non-null int64
pay_4        29932 non-null int64
pay_5        29932 non-null int64
pay_6        29932 non-null int64
bill_amt1    29932 non-null int64
bill_amt2    29932 non-null int64
bill_amt3    29932 non-null int64
bill_amt4    29932 non-null int64
bill_amt5    29932 non-null int64
bill_amt6    29932 non-null int64
pay_amt1     29932 non-null int64
pay_amt2     29932 non-null int64
pay_amt3     29932 non-null int64
pay_amt4     29932 non-null int64
pay_amt5     29932 non-null int64
pay_amt6     29932 non-null int64
default      29932 non-null int64
arrears_1    29932 non-null int64
arrears_2    29932 non-null int64
arrears_3    29932 non-null int64
arrears_4    29932 non-null int64
arrears_5    29932 non-null int64
arrears_6    29932 non-null int64
dtypes: int64(30)
memory usage: 7.1 MB

In [26]:
df_1['sex'] = df_1['sex'].map({1:1, 2:0})
df_1.head()

//anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,pay_amt4,pay_amt5,pay_amt6,default,arrears_1,arrears_2,arrears_3,arrears_4,arrears_5,arrears_6
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,0,2,1,24,2,2,-1,-1,-2,...,0,0,0,1,2,2,-1,-1,-2,-2
2,120000,0,2,2,26,-1,2,0,0,0,...,1000,0,2000,1,-1,2,0,0,0,2
3,90000,0,2,2,34,0,0,0,0,0,...,1000,1000,5000,0,0,0,0,0,0,0
4,50000,0,2,1,37,0,0,0,0,0,...,1100,1069,1000,0,0,0,0,0,0,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,9000,689,679,0,-1,0,-1,0,0,0

In [28]:
df_1.drop(['pay_0','pay_2','pay_3','pay_4','pay_5','pay_6'], axis= 1, inplace= True)
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29932 entries, 1 to 30000
Data columns (total 24 columns):
limit_bal    29932 non-null int64
sex          29932 non-null int64
education    29932 non-null int64
marriage     29932 non-null int64
age          29932 non-null int64
bill_amt1    29932 non-null int64
bill_amt2    29932 non-null int64
bill_amt3    29932 non-null int64
bill_amt4    29932 non-null int64
bill_amt5    29932 non-null int64
bill_amt6    29932 non-null int64
pay_amt1     29932 non-null int64
pay_amt2     29932 non-null int64
pay_amt3     29932 non-null int64
pay_amt4     29932 non-null int64
pay_amt5     29932 non-null int64
pay_amt6     29932 non-null int64
default      29932 non-null int64
arrears_1    29932 non-null int64
arrears_2    29932 non-null int64
arrears_3    29932 non-null int64
arrears_4    29932 non-null int64
arrears_5    29932 non-null int64
arrears_6    29932 non-null int64
dtypes: int64(24)
memory usage: 5.7 MB

//anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [31]:
cat_cols = ['education', 'marriage', 'arrears_1', 'arrears_2','arrears_3','arrears_4','arrears_5','arrears_6']
df_1 = pd.get_dummies(df_1, columns= cat_cols, drop_first= True)
df_1

,limit_bal,sex,age,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,...,arrears_4_2,arrears_4_3,arrears_5_-1,arrears_5_0,arrears_5_2,arrears_5_3,arrears_6_-1,arrears_6_0,arrears_6_2,arrears_6_3
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,0,24,3913,3102,689,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,120000,0,26,2682,1725,2682,3272,3455,3261,0,...,0,0,0,1,0,0,0,0,1,0
3,90000,0,34,29239,14027,13559,14331,14948,15549,1518,...,0,0,0,1,0,0,0,1,0,0
4,50000,0,37,46990,48233,49291,28314,28959,29547,2000,...,0,0,0,1,0,0,0,1,0,0
5,50000,1,57,8617,5670,35835,20940,19146,19131,2000,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1,39,188948,192815,208365,88004,31237,15980,8500,...,0,0,0,1,0,0,0,1,0,0
29997,150000,1,43,1683,1828,3502,8979,5190,0,1837,...,0,0,0,1,0,0,0,1,0,0
29998,30000,1,37,3565,3356,2758,20878,20582,19357,0,...,0,0,0,1,0,0,0,1,0,0
29999,80000,1,41,-1645,78379,76304,52774,11855,48944,85900,...,0,0,0,1,0,0,1,0,0,0
30000,50000,1,46,47929,48905,49764,36535,32428,15313,2078,...,0,0,0,1,0,0,0,1,0,0

In [33]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29932 entries, 1 to 30000
Data columns (total 49 columns):
limit_bal       29932 non-null int64
sex             29932 non-null int64
age             29932 non-null int64
bill_amt1       29932 non-null int64
bill_amt2       29932 non-null int64
bill_amt3       29932 non-null int64
bill_amt4       29932 non-null int64
bill_amt5       29932 non-null int64
bill_amt6       29932 non-null int64
pay_amt1        29932 non-null int64
pay_amt2        29932 non-null int64
pay_amt3        29932 non-null int64
pay_amt4        29932 non-null int64
pay_amt5        29932 non-null int64
pay_amt6        29932 non-null int64
default         29932 non-null int64
education_2     29932 non-null uint8
education_3     29932 non-null uint8
education_4     29932 non-null uint8
marriage_2      29932 non-null uint8
marriage_3      29932 non-null uint8
arrears_1_-1    29932 non-null uint8
arrears_1_0     29932 non-null uint8
arrears_1_1     29932 non-null uint8
arrears_1_2     29932 non-null uint8
arrears_1_3     29932 non-null uint8
arrears_2_-1    29932 non-null uint8
arrears_2_0     29932 non-null uint8
arrears_2_1     29932 non-null uint8
arrears_2_2     29932 non-null uint8
arrears_2_3     29932 non-null uint8
arrears_3_-1    29932 non-null uint8
arrears_3_0     29932 non-null uint8
arrears_3_1     29932 non-null uint8
arrears_3_2     29932 non-null uint8
arrears_3_3     29932 non-null uint8
arrears_4_-1    29932 non-null uint8
arrears_4_0     29932 non-null uint8
arrears_4_1     29932 non-null uint8
arrears_4_2     29932 non-null uint8
arrears_4_3     29932 non-null uint8
arrears_5_-1    29932 non-null uint8
arrears_5_0     29932 non-null uint8
arrears_5_2     29932 non-null uint8
arrears_5_3     29932 non-null uint8
arrears_6_-1    29932 non-null uint8
arrears_6_0     29932 non-null uint8
arrears_6_2     29932 non-null uint8
arrears_6_3     29932 non-null uint8
dtypes: int64(16), uint8(33)
memory usage: 4.8 MB

In [78]:
X = df_1.drop('default', axis= 1)
y = df_1['default']

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [81]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [86]:
from sklearn.decomposition import PCA
fit = PCA()
pca_train = fit.fit_transform(X_train_scaled)
pca_train

array([[-4.16147734e-01, -3.19265922e+00,  1.37789124e+00, ...,
         1.04191832e-02, -7.59611290e-02, -1.15376535e-01],
       [ 1.42723308e+00, -4.51975024e-01, -2.66589724e+00, ...,
         2.55619467e-02,  2.99799436e-02,  4.24738325e-03],
       [-3.71316264e+00,  6.93490026e-01,  4.24596668e-01, ...,
        -5.20727794e-01,  8.13561176e-01,  2.74755737e-01],
       ...,
       [ 1.07128489e+00, -5.44524352e-01, -2.97800489e+00, ...,
        -3.32999859e-02, -8.44150507e-05,  1.69541297e-02],
       [-2.40230599e+00, -4.57992785e+00,  1.50870585e+00, ...,
         2.52475042e-01, -3.81127569e-01,  1.21804334e-03],
       [ 6.73016608e+00,  2.21584970e+00,  3.14622129e+00, ...,
        -5.34721322e-02, -2.33109630e-02,  3.70109603e-03]])

In [83]:
print (fit.explained_variance_ratio_[:20].sum())

0.8012492548925169

In [85]:
fit.components_[:20]

array([[ 2.60755711e-02,  1.28865359e-02, -3.63425648e-03,
         2.65297468e-01,  2.70685138e-01,  2.68289203e-01,
         2.65326330e-01,  2.60172041e-01,  2.53222727e-01,
         5.78063635e-02,  4.26288517e-02,  4.35450289e-02,
         3.80807816e-02,  3.96649846e-02,  3.69829071e-02,
         3.51616067e-02,  1.34325960e-03,  1.13496250e-02,
         6.93901526e-03,  1.85348014e-03, -1.85615168e-01,
         2.24421730e-01, -6.43100613e-02,  1.00376609e-02,
        -1.44299550e-02, -2.00574218e-01,  2.41780406e-01,
        -4.76023252e-03, -2.49204147e-02, -1.35842347e-02,
        -2.00586058e-01,  2.47896296e-01, -2.71274625e-04,
        -2.77059682e-02, -1.61540520e-02, -1.97657950e-01,
         2.42590672e-01,  2.02427232e-04, -2.32191759e-02,
        -1.87597465e-02, -1.91708060e-01,  2.34039691e-01,
        -1.76461602e-02, -2.09935476e-02, -1.83431636e-01,
         2.27194715e-01, -1.32349214e-02, -2.02784483e-02],
       [ 2.31010092e-01, -2.73785283e-02,  3.71980046e-02,
         8.00830568e-02,  7.97296807e-02,  8.42231744e-02,
         8.17978162e-02,  7.75303980e-02,  7.53095667e-02,
         1.23137973e-01,  1.13216526e-01,  1.28711348e-01,
         1.12866785e-01,  1.15474092e-01,  1.07115484e-01,
        -6.57656413e-02, -3.52633026e-02,  2.56010183e-02,
        -1.84628934e-02, -6.07681948e-03,  2.11979935e-01,
         5.36151171e-02, -1.14031404e-01, -1.87922279e-01,
        -1.53640424e-01,  2.33611165e-01,  3.63100353e-02,
        -5.73590354e-04, -2.61024459e-01, -1.45128016e-01,
         2.33849761e-01,  3.15552640e-02, -8.26668558e-04,
        -2.58554932e-01, -1.58035614e-01,  2.25377332e-01,
         3.16853046e-02,  1.48361119e-03, -2.57417781e-01,
        -1.70678536e-01,  2.11547772e-01,  2.76906452e-02,
        -2.49968261e-01, -1.71845265e-01,  2.07166594e-01,
         1.79588258e-02, -2.31097598e-01, -1.54468468e-01],
       [ 1.97253321e-01,  1.40133038e-02,  7.10795513e-02,
         2.11515529e-01,  2.24175973e-01,  2.40675468e-01,
         2.54662656e-01,  2.61439955e-01,  2.59415669e-01,
         1.21523398e-01,  1.20827371e-01,  1.40173646e-01,
         1.19041835e-01,  1.17070087e-01,  1.09130484e-01,
        -3.91004737e-02, -2.32882960e-02, -4.77920616e-03,
        -5.15798809e-02, -1.85601551e-02,  9.40924374e-02,
        -2.14896173e-01,  6.48426180e-02,  1.27638750e-01,
         1.00452021e-01,  1.04164382e-01, -2.21982963e-01,
         5.68894067e-03,  1.69512647e-01,  1.06626315e-01,
         1.02313594e-01, -2.10839073e-01,  3.45979476e-03,
         1.69771784e-01,  1.12790828e-01,  1.01828532e-01,
        -1.93242459e-01,  4.48799681e-03,  1.68254020e-01,
         1.16764050e-01,  9.24644859e-02, -1.70968165e-01,
         1.66427182e-01,  1.11805759e-01,  8.23649484e-02,
        -1.43583841e-01,  1.49103379e-01,  9.42166430e-02],
       [ 8.74554111e-03,  2.83391323e-02,  8.21133121e-03,
        -2.66925640e-03, -5.59300113e-03, -8.32985481e-03,
        -1.39532749e-02, -1.75344410e-02, -1.83990442e-02,
         1.19569393e-02,  1.04618759e-02,  1.08018020e-02,
         7.76030787e-03,  1.77935621e-02,  1.59390101e-02,
         4.26548162e-03,  5.25303406e-03,  7.97562809e-03,
         3.35153168e-03,  1.02814422e-02,  3.05677825e-02,
         7.04301664e-02, -1.05588848e-01, -1.37654330e-01,
         2.45265892e-01,  2.73777637e-02,  5.63093528e-02,
        -1.16789512e-02, -1.65209516e-01,  2.15401298e-01,
         2.83921008e-02,  4.35224198e-02, -9.66518749e-03,
        -1.91576025e-01,  3.56986296e-01,  2.75329925e-02,
         3.52746889e-02, -6.69691227e-03, -2.17199075e-01,
         4.30787958e-01,  2.81135252e-02,  2.46606940e-02,
        -2.16510505e-01,  4.26504497e-01,  3.05943607e-02,
         1.45950140e-02, -1.78077197e-01,  3.97749381e-01],
       [ 4.20079026e-02,  1.75686409e-02,  1.28966564e-02,
        -1.32218560e-02, -1.71802406e-02, -3.61392965e-03,
        -9.76606080e-03, -8.12638425e-03, -1.05012949e-02,
         1.47633386e-02,  4.62514638e-02,  8.07519427e-03,
         1.76517817e-02,  8.92554223e-03,  3.11136541e-02,
        -5.62337374e-03, -7.41173426e-03,  2.51543578e-03,
        -2.01488172e-02, -1.68544810e-03, -4.36071947e-02,
        -4.86477527e-02,  1.27003754e-01, -3.51963154e-02,
        -6.39866310e-03, -3.12283096e-02, -5.53164549e-02,
         4.77740777e-01,  1.57903756e-02, -5.44807732e-03,
        -2.13081975e-02, -2.74738619e-02,  6.30205686e-01,
        -2.18941257e-02,  3.46017357e-04, -3.53803994e-02,
        -2.13024768e-03,  5.71765210e-01, -3.45002336e-02,
         1.50619005e-03, -4.03293539e-02,  2.12532879e-02,
        -5.46833435e-02,  3.59351921e-03, -3.43462344e-02,
         2.36516715e-02, -5.83264065e-02,  7.73251649e-03],
       [-4.69026230e-02, -6.95422048e-02, -5.66410922e-01,
        -7.53368564e-03, -1.86268396e-03,  2.05669126e-03,
         1.02084850e-02,  1.35662337e-02,  2.04941421e-02,
         2.73960825e-02,  2.95810909e-02,  3.71881030e-02,
         3.13528356e-02,  4.81664537e-02,  4.12478911e-02,
         3.26568104e-01, -4.96723310e-01, -4.11595529e-02,
         4.80552197e-01, -1.87127832e-01,  4.15592679e-02,
         4.73173365e-02, -5.42466979e-02, -2.83638527e-02,
         3.43511357e-02,  3.60375479e-02,  4.15895701e-02,
         2.02822985e-02, -3.99423397e-02,  5.50769485e-02,
         3.65458001e-02,  1.23955271e-02,  3.29696828e-02,
         1.19222702e-02,  3.69193969e-02,  4.57448650e-02,
        -2.12272821e-03,  2.70408021e-02,  4.54729286e-02,
         1.77476515e-03,  4.74481602e-02, -1.29750062e-02,
         7.21406983e-02, -1.07243885e-02,  3.98852185e-02,
        -1.54939596e-02,  7.93627012e-02, -2.28909430e-02],
       [-5.40192981e-02,  5.09352332e-02,  9.94619115e-02,
         3.94433718e-02,  2.26930423e-02, -6.96373570e-03,
        -1.49188696e-02, -2.00123161e-03,  1.01390082e-02,
        -5.78659970e-02, -9.99945906e-02, -5.24056810e-02,
         2.91463290e-02,  1.35271382e-02, -1.86662063e-02,
        -2.07970028e-02,  8.84740584e-02, -1.60226092e-02,
        -8.89504508e-02,  4.82623529e-02,  2.33196245e-02,
         3.09243487e-01, -4.18757780e-01, -3.63156128e-02,
         3.34758842e-02, -1.21180876e-02,  3.14322413e-01,
         4.18793324e-02, -3.30444306e-01,  1.07709162e-01,
         9.61745410e-04,  1.03843344e-01,  1.19319300e-01,
        -5.76840510e-02,  6.57087921e-02,  6.89460317e-02,
        -1.00200351e-01,  1.21650583e-01,  1.94686246e-01,
         4.77448613e-03,  1.57596498e-01, -2.27065211e-01,
         3.22756518e-01, -3.35971173e-02,  1.24761186e-01,
        -2.06935731e-01,  3.24710014e-01, -6.88590849e-02],
       [ 2.86183799e-01, -5.93068053e-02,  3.27057769e-02,
        -7.91475320e-02, -8.39513280e-02, -6.58076761e-02,
        -8.73069194e-02, -7.24397108e-02, -5.15263021e-02,
         1.38047687e-01,  1.67241352e-01,  1.15403761e-01,
         1.87041332e-01,  2.31433092e-01,  2.28092983e-01,
        -6.61640464e-02, -1.09914384e-01,  8.99206252e-02,
        -1.38157675e-02, -5.75867974e-02, -3.19905254e-01,
         3.03101311e-02,  2.21749459e-01, -2.67842876e-01,
        -4.09524335e-02, -2.60179475e-01, -2.01227517e-02,
        -4.05367694e-03, -1.79301238e-01,  1.02498169e-02,
        -2.31539548e-01, -5.42550774e-02, -8.87265819e-02,
        -1.58129392e-01,  1.45834584e-02, -2.03097516e-01,
        -1.52841738e-01, -8.93375292e-02, -5.00860945e-02,
        -1.13851996e-02, -1.22350761e-01, -2.57222896e-01,
         3.73778867e-02, -3.22907691e-02, -9.60476667e-02,
        -2.53751087e-01,  3.80366760e-02, -4.06374624e-02],
       [-7.57633456e-02,  8.03206725e-02, -2.53179758e-01,
        -8.04026238e-02, -5.84096139e-02, -2.36124756e-02,
        -2.34420828e-02, -3.20264139e-02, -3.39818258e-02,
         1.70047217e-01,  1.81406054e-01,  1.28635265e-01,
         4.17123881e-02,  8.20699093e-02,  1.32683464e-01,
        -5.94992863e-01,  4.32207421e-01,  1.04284783e-01,
         4.28472522e-01, -1.35792765e-01,  5.56645859e-02,
         1.09110278e-02, -1.11894299e-01,  5.74991121e-02,
         1.32508161e-02,  4.80047268e-02,  2.21786102e-02,
        -4.85675639e-03, -4.15267908e-03,  1.68151583e-02,
         1.65802701e-02,  3.30345388e-03,  1.09699398e-02,
         6.89402708e-02, -1.75893888e-03, -2.33823765e-02,
         4.00713615e-02,  2.07940271e-02,  6.14141355e-02,
         1.05163912e-02, -5.58699244e-02,  7.27064881e-02,
         5.15700618e-02,  1.34689704e-02, -4.06719930e-02,
         5.89738484e-02,  4.19663276e-02,  1.60972523e-02],
       [-7.35550364e-02,  6.01651799e-02,  1.32442205e-01,
        -1.96224464e-01, -1.56101982e-01, -8.49380643e-02,
        -9.37457619e-02, -1.06836810e-01, -9.47870511e-02,
         3.43878897e-01,  3.76091111e-01,  2.33550452e-01,
         9.27480804e-02,  2.15246043e-01,  2.70080881e-01,
         2.78514774e-01, -1.01434940e-01, -1.12768608e-01,
        -2.13322850e-01,  1.58781900e-01,  1.01683774e-01,
         2.82578976e-03, -2.91403802e-01,  2.17420296e-01,
         1.71416460e-02,  8.17958694e-02,  3.62262788e-02,
        -7.38259238e-03,  5.42729654e-02, -6.45676471e-02,
         2.99681200e-02,  3.45531197e-02,  3.32760402e-03,
         1.07694575e-01, -3.31406416e-02, -4.63285305e-02,
         9.90268339e-02,  8.11908417e-03,  8.83497816e-02,
         1.87634383e-02, -1.17616442e-01,  1.59693498e-01,
         5.32355321e-02,  4.67026330e-02, -6.05513478e-02,
         1.20723063e-01,  5.11019464e-02,  5.06113091e-02],
       [-3.15445418e-02,  5.01802897e-02,  5.57371822e-02,
        -2.86902004e-02, -1.60113523e-02,  2.83233276e-03,
         1.22276428e-02, -1.37763863e-03, -1.83436480e-02,
         5.04578615e-02,  6.08002815e-02,  3.98439396e-02,
        -6.46735508e-02, -5.22013542e-02,  9.40578314e-03,
         3.09643645e-02,  1.96468262e-02, -3.06261751e-02,
        -4.54907107e-02,  4.53813237e-02,  7.56446429e-02,
        -2.89945877e-02,  1.02327492e-01, -2.93040306e-01,
         3.73363547e-01,  8.69650333e-02, -8.64495637e-02,
         3.23146937e-03, -1.69250435e-01,  5.95169667e-01,
         4.94565645e-02, -9.24248896e-02, -2.15182204e-02,
         6.81553597e-02,  1.78619120e-01, -3.31148128e-03,
         3.89365094e-03, -2.85625100e-02,  1.16892222e-01,
        -1.71616769e-01, -9.42470376e-02,  1.50030635e-01,
         2.12622927e-02, -2.72506188e-01, -8.52900443e-02,
         1.84736514e-01, -5.86452020e-02, -2.95696988e-01],
       [-1.24912533e-01,  3.13271855e-01, -1.35766166e-02,
        -4.26100760e-03, -2.20773940e-02, -3.30715485e-02,
        -5.30261446e-02,  1.37191922e-02,  6.15385620e-02,
        -7.47355540e-02, -4.86237820e-02, -4.42418886e-02,
         3.37147548e-01,  2.62448317e-01,  1.52895564e-02,
         6.81134438e-02,  1.91137353e-01, -6.30820494e-01,
         9.14126044e-02,  5.28763960e-02, -8.86481002e-02,
         8.08059515e-02,  2.31888328e-01, -1.29651868e-01,
         6.11030327e-02, -8.75734388e-02,  4.80835446e-02,
         2.39248203e-02,  1.36274805e-01,  9.56369206e-03,
        -3.13175490e-02,  7.43817703e-02, -1.62325318e-02,
         8.09555025e-02, -3.87274541e-02,  5.79178906e-02,
         7.92932568e-02, -3.46978657e-02, -1.27545200e-02,
        -1.47421209e-02,  2.30093109e-01, -1.29976017e-02,
        -3.47613537e-02, -4.39257717e-03,  1.88248282e-01,
         2.05064866e-02, -2.27626968e-02,  6.91681706e-03],
       [-1.58039878e-01,  9.79644554e-03, -1.08727507e-01,
         2.35267392e-02, -8.85967737e-03, -2.25779783e-02,
        -3.20931252e-02, -1.23752069e-02,  3.26331056e-02,
        -1.43261540e-01, -5.78889235e-02,  3.23677841e-02,
         1.71617406e-01,  2.72726232e-01,  4.29063742e-02,
        -2.25772791e-02, -6.44155886e-02,  5.60133247e-01,
         4.04194696e-02,  6.05876586e-01, -7.64914934e-02,
         5.32924126e-02,  8.96191263e-02, -1.31998323e-02,
         1.27124053e-01, -7.95687742e-02,  3.88475626e-02,
        -3.65062653e-03,  1.29316364e-01,  3.59506000e-02,
         1.92913662e-03,  3.05561794e-02,  6.59663842e-03,
         1.08881416e-01, -4.10554741e-02,  8.05497114e-02,
         4.90686476e-02,  5.49529767e-03,  1.06774207e-02,
        -1.87086286e-02,  1.64724539e-01,  2.87154157e-02,
        -3.49938536e-02, -1.33491062e-02,  1.67354940e-01,
         2.59002300e-02, -3.26265212e-02, -7.00935728e-03],
       [ 5.81401267e-03, -8.71474064e-01, -1.07692505e-01,
        -1.60003173e-02, -2.27797806e-02, -3.89076340e-02,
        -2.99276097e-02,  3.06157728e-02,  3.53689045e-02,
        -4.40078085e-02, -9.31136095e-02, -2.01947409e-02,
         2.39181494e-01,  6.60419509e-02,  4.43731144e-02,
        -1.87232396e-02,  1.78678452e-01, -2.17373396e-01,
        -7.20629035e-02,  5.30045992e-02, -1.57236980e-02,
        -7.52936086e-05, -1.04919714e-01,  5.27401123e-02,
         8.28416545e-02, -3.22321505e-02,  4.45614646e-03,
        -3.58007974e-02, -8.35549807e-03,  6.43807681e-02,
        -4.49830321e-02, -3.94028300e-02,  2.53525027e-02,
         8.79388735e-02, -1.75491994e-02, -3.20681479e-03,
        -2.58611399e-02,  4.24123258e-02,  4.34579360e-02,
        -2.61891262e-02,  4.40505486e-02,  9.31613776e-03,
        -5.97732640e-02, -1.71932070e-03, -8.79884662e-03,
         6.92040975e-02, -7.74238328e-02,  1.46371027e-02],
       [-1.34527847e-01, -2.22998176e-01, -1.04359511e-01,
         3.72754951e-03,  4.18436762e-02,  1.43322618e-01,
         6.50115322e-02, -2.78531881e-02,  3.77611163e-03,
         1.73062047e-01,  3.67092293e-01, -1.58892090e-01,
        -4.44950256e-01,  4.23115287e-02, -1.44286776e-01,
        -6.30072844e-03,  8.99711400e-02, -1.94764646e-01,
         4.03144294e-02,  3.86440092e-01,  1.40151904e-02,
         3.86633418e-02,  2.55074372e-01, -1.93181896e-01,
        -1.28516075e-01,  8.50540696e-02, -4.56450595e-03,
         1.18072785e-01, -2.14377558e-02, -7.13151776e-02,
         9.98667653e-02,  6.93383208e-02, -3.74884480e-02,
        -1.39250313e-01,  5.24021260e-02, -2.90683565e-02,
         7.88304947e-02, -6.53652766e-02, -2.88436693e-02,
         7.66590451e-02, -4.48393686e-02, -9.14938453e-03,
         1.26975546e-01,  3.08000432e-02,  9.89905440e-02,
        -1.40994336e-01,  1.83894077e-01,  5.61558178e-03],
       [-7.25730551e-02,  8.66456922e-03, -4.64390420e-02,
        -6.10001399e-02, -5.71594357e-02, -7.28982627e-02,
         4.52197659e-02,  1.11839525e-01,  2.79485094e-03,
         4.78896280e-02, -4.50167314e-04,  4.56509397e-01,
         3.16381263e-01, -4.84822069e-01, -1.71008510e-01,
         1.28617631e-02,  8.47880030e-03, -3.68496731e-02,
         1.13673775e-02,  2.32587465e-01, -1.75987873e-02,
         1.12558882e-01,  1.55043963e-01, -2.29197204e-01,
        -1.48379336e-01,  4.09285212e-02,  4.16423394e-02,
         1.65432660e-02, -5.45969079e-02, -1.31586587e-01,
         9.73506302e-02, -3.51178850e-02, -7.54768076e-03,
        -2.53577528e-02, -2.15210037e-03,  1.63860991e-01,
        -1.45300126e-01, -2.58864136e-02,  8.16975294e-02,
         5.60634279e-02, -6.14903278e-03, -2.01978228e-02,
         9.78839249e-02,  7.62298479e-02, -2.74092325e-01,
         1.56213511e-01,  8.50524700e-02,  8.19650178e-02],
       [-9.91246608e-02, -9.60100336e-02,  9.13568984e-02,
        -1.38499849e-02, -1.23634650e-02,  2.67390851e-02,
         1.55775739e-02, -2.40937990e-02,  2.32800961e-03,
         1.92080942e-02,  1.56425570e-01,  6.06289622e-02,
        -1.35880802e-01,  9.63837637e-02, -1.27458380e-01,
         6.08604207e-02,  2.28973254e-02,  1.86731025e-01,
        -1.20806438e-01, -3.95122040e-01, -1.90167099e-02,
         2.43263984e-01,  7.07646342e-02, -4.25234668e-01,
         2.62548301e-01,  3.99678410e-03,  9.50983963e-02,
         4.69712311e-02,  7.93375784e-02, -1.67574926e-01,
         4.61848676e-02, -5.47965837e-02, -5.80547715e-03,
         3.39258166e-01, -3.45821541e-01,  8.54792907e-02,
        -9.16043831e-03, -2.09932231e-02,  1.28573207e-01,
        -8.89197163e-03,  5.76665276e-02,  5.27920259e-02,
        -5.86131071e-03,  1.43362329e-01,  1.04442839e-01,
         1.38590149e-02, -1.40871617e-02,  1.61723167e-01],
       [-2.00796025e-01, -9.16040159e-02,  5.61476878e-02,
        -6.13496722e-02, -9.42310858e-02,  1.44992487e-02,
        -3.22245602e-02,  2.54462610e-02,  5.97967166e-02,
        -1.74282412e-01,  3.25048236e-01,  6.63832390e-03,
         2.70345241e-01,  1.58823913e-01, -2.96765339e-01,
         7.54914249e-02,  6.70064596e-02,  2.33289341e-01,
        -1.32015072e-01, -3.69455659e-01, -3.58717324e-02,
        -3.01668112e-02,  1.56607196e-01,  1.81078822e-01,
        -2.05535618e-01, -7.40728570e-03,  2.31053570e-02,
         1.89243193e-01,  3.91344637e-02,  1.23328230e-01,
         1.16559652e-01,  1.20482717e-01, -4.07539884e-02,
        -2.26100827e-01,  2.77006413e-01,  6.26278476e-02,
         9.02854193e-02, -1.22572690e-01, -2.11056439e-03,
         2.72821498e-02,  1.07690297e-01,  3.03088842e-02,
         9.66712478e-02, -7.19688430e-02,  3.17984257e-02,
         9.48575462e-02,  8.00659265e-02, -7.21354407e-02],
       [ 1.47907334e-01,  4.91394704e-02, -1.51642387e-02,
        -1.65265123e-02, -7.75979266e-02, -4.12827510e-02,
         4.74391230e-02, -1.14285781e-02,  1.03689196e-01,
        -3.36567157e-01,  8.00152120e-02,  3.80845798e-01,
        -2.50157372e-01,  3.83356951e-01, -4.68195155e-01,
        -4.91787816e-02, -3.10532751e-02, -1.71485906e-01,
         8.03063645e-02,  1.19668226e-01, -5.06453140e-02,
        -1.54967152e-02, -1.97079553e-01,  1.01943657e-01,
        -1.59115441e-02, -9.70217973e-02,  1.12463874e-02,
         1.06915708e-02, -1.03550368e-01,  5.94138508e-03,
        -1.18150174e-02, -1.45291654e-01,  4.97140773e-03,
         1.84375093e-02, -3.31098345e-02,  3.84550058e-02,
        -1.92480025e-01,  1.22822529e-03,  5.08343391e-02,
        -4.09613556e-02, -1.73404516e-01,  5.62526568e-03,
        -5.56105629e-02, -7.62497640e-03, -7.48436581e-02,
         1.16609597e-02, -1.72307747e-01,  2.08108210e-02],
       [-1.31791720e-01, -1.07543108e-01,  3.49536646e-02,
         2.69664626e-02, -9.84345286e-04, -9.35770376e-02,
         7.18579376e-02, -3.58961777e-02, -2.69357292e-02,
        -1.36112768e-01, -2.94535433e-01,  5.45535185e-01,
        -3.55451556e-01,  9.64268296e-02,  3.92507278e-01,
         5.66825581e-02,  9.09179942e-02, -1.22777478e-02,
        -5.95838000e-02, -1.48961793e-01, -4.05164422e-02,
         1.89262059e-02,  2.09006514e-01,  1.77924580e-02,
        -7.04180922e-02, -2.79850412e-02,  3.30450374e-02,
        -6.92109607e-02,  1.07942935e-01,  4.46735617e-02,
         1.87514821e-02,  1.39514088e-01,  1.07659192e-02,
        -1.07029002e-01,  1.16110326e-01,  1.63741479e-01,
         6.64666875e-02,  5.46349989e-02, -1.05761522e-01,
         4.75864123e-02,  3.04249082e-03,  8.55082980e-02,
         9.60909157e-02, -2.35983539e-02,  1.40994057e-01,
        -3.70769150e-02,  1.31621295e-01, -6.10391158e-02]])

In [87]:
pca_test = fit.transform(X_test_scaled)
pca_test

array([[ 9.25560613e-01, -5.31018276e-01, -2.97548184e+00, ...,
         2.98131981e-03,  9.83020465e-03,  8.28656196e-03],
       [ 1.87315543e+00, -8.00798355e-02, -2.06560418e+00, ...,
        -3.54306167e-03,  1.28589340e-02,  7.04948433e-03],
       [ 2.02397127e+00, -3.67294497e-02, -1.92798307e+00, ...,
        -2.30862175e-01, -1.26593601e-01,  5.08359546e-02],
       ...,
       [ 2.56577092e+00,  1.37594214e-01, -1.52568354e+00, ...,
         9.93323647e-02,  8.02093176e-02, -3.38054809e-03],
       [ 1.78536147e+00,  7.98299427e-03, -1.98463974e+00, ...,
         5.86451212e-02,  4.78355992e-02,  2.93521304e-03],
       [ 4.70440190e+00,  1.37343567e+00,  1.11922975e+00, ...,
         2.53039217e-02,  2.64612661e-02,  2.56327985e-03]])

In [98]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_curve, auc, accuracy_score, recall_score, precision_score, f1_score
clf_1 = KNeighborsClassifier()
clf_1.fit(X_train_scaled,y_train)
y_hat_test = clf_1.predict(X_test_scaled)
fpr, tpr, thresholds = roc_curve(y_test, y_hat_test)
print(auc(fpr,tpr))
print(f1_score(y_test, y_hat_test))

0.6379400153411318
0.43398308201544683

In [99]:
clf_2 = KNeighborsClassifier()
clf_2.fit(pca_train, y_train)
y_hat_test = clf_2.predict(pca_test)
fpr, tpr, thresholds = roc_curve(y_test, y_hat_test)
print(auc(fpr,tpr))
print(f1_score(y_test, y_hat_test))

0.6375500775394158
0.4332475174696579

In [102]:
# using PCA did not improve our AUC by much
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors': list(range(5,26,2))}
opt_model = GridSearchCV(clf_1, param_grid)
opt_model.fit(X_train_scaled, y_train)
best_clf_1 = opt_model.best_estimator_
opt_model.best_params_

//anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

{'n_neighbors': 19}

In [104]:
opt_model_2 = GridSearchCV(clf_2, param_grid)
opt_model_2.fit(pca_train, y_train)
best_clf_2 = opt_model_2.best_estimator_
opt_model_2.best_params_

//anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

{'n_neighbors': 19}

In [105]:
# once again the difference in the PCA model and the regular model is very small
y_hat_test = best_clf_1.predict(X_test_scaled)
fpr, tpr, thresholds = roc_curve(y_test, y_hat_test)
print(auc(fpr,tpr))

0.6470831526859487

In [107]:
from sklearn.tree import DecisionTreeClassifier
clf_tree = DecisionTreeClassifier()
param_grid= {'max_depth': list(range(3,10)), 'min_samples_leaf': list(range(5,26,5))}
opt_tree = GridSearchCV(clf_tree, param_grid, scoring = 'roc_auc', cv= 5)
opt_tree.fit(X_train, y_train)
best_tree = opt_tree.best_estimator_
print(opt_tree.best_params_)

{'max_depth': 7, 'min_samples_leaf': 20}

In [108]:
pd.DataFrame(opt_tree.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_leaf,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.098935,0.015988,0.007811,0.001780,3,5,"{'max_depth': 3, 'min_samples_leaf': 5}",0.696083,0.701445,0.696387,0.681835,0.697534,0.694657,0.006690,34
1,0.089855,0.000461,0.006823,0.000435,3,10,"{'max_depth': 3, 'min_samples_leaf': 10}",0.696083,0.701445,0.696576,0.681796,0.697534,0.694687,0.006715,33
2,0.106164,0.016742,0.010040,0.005390,3,15,"{'max_depth': 3, 'min_samples_leaf': 15}",0.696083,0.700926,0.696589,0.681750,0.697534,0.694577,0.006631,35
3,0.104074,0.018249,0.008379,0.001216,3,20,"{'max_depth': 3, 'min_samples_leaf': 20}",0.696083,0.701782,0.699021,0.681750,0.697534,0.695235,0.007000,32
4,0.091422,0.000067,0.006875,0.000684,3,25,"{'max_depth': 3, 'min_samples_leaf': 25}",0.699026,0.702122,0.699018,0.681635,0.697450,0.695851,0.007267,31
5,0.134737,0.019135,0.008219,0.001971,4,5,"{'max_depth': 4, 'min_samples_leaf': 5}",0.715331,0.750284,0.729461,0.723326,0.738473,0.731374,0.012115,30
6,0.119585,0.001373,0.007612,0.001059,4,10,"{'max_depth': 4, 'min_samples_leaf': 10}",0.715520,0.748843,0.733244,0.724021,0.736907,0.731706,0.011351,28
7,0.125607,0.004057,0.008162,0.001297,4,15,"{'max_depth': 4, 'min_samples_leaf': 15}",0.714828,0.749565,0.732279,0.722559,0.738838,0.731613,0.012155,29
8,0.132215,0.012709,0.008146,0.001138,4,20,"{'max_depth': 4, 'min_samples_leaf': 20}",0.714820,0.750995,0.734090,0.723401,0.738838,0.732428,0.012491,27
9,0.121204,0.001116,0.008000,0.001338,4,25,"{'max_depth': 4, 'min_samples_leaf': 25}",0.717633,0.750762,0.733312,0.722987,0.738449,0.732628,0.011671,26
10,0.149976,0.003736,0.007893,0.001015,5,5,"{'max_depth': 5, 'min_samples_leaf': 5}",0.735426,0.765453,0.744283,0.736276,0.749223,0.746132,0.010937,24
11,0.152920,0.012292,0.007470,0.000208,5,10,"{'max_depth': 5, 'min_samples_leaf': 10}",0.734301,0.767975,0.747236,0.736847,0.750307,0.747333,0.011956,22
12,0.154486,0.011735,0.007494,0.000727,5,15,"{'max_depth': 5, 'min_samples_leaf': 15}",0.734466,0.769143,0.745955,0.735679,0.751364,0.747322,0.012611,23
13,0.144721,0.000874,0.007212,0.000547,5,20,"{'max_depth': 5, 'min_samples_leaf': 20}",0.733882,0.769686,0.748430,0.736706,0.751000,0.747940,0.012699,21
14,0.142857,0.010736,0.006987,0.000580,5,25,"{'max_depth': 5, 'min_samples_leaf': 25}",0.736547,0.769547,0.747063,0.736982,0.750782,0.748184,0.012044,20
15,0.170957,0.013520,0.007079,0.000803,6,5,"{'max_depth': 6, 'min_samples_leaf': 5}",0.742921,0.768587,0.747604,0.745534,0.755292,0.751987,0.009269,14
16,0.167461,0.005169,0.006946,0.000239,6,10,"{'max_depth': 6, 'min_samples_leaf': 10}",0.742145,0.771466,0.749301,0.745975,0.757208,0.753219,0.010386,10
17,0.174782,0.013535,0.007328,0.001093,6,15,"{'max_depth': 6, 'min_samples_leaf': 15}",0.743824,0.772068,0.750184,0.741550,0.757115,0.752948,0.010989,12
18,0.166535,0.005369,0.007503,0.001487,6,20,"{'max_depth': 6, 'min_samples_leaf': 20}",0.743297,0.772365,0.750489,0.743117,0.757983,0.753450,0.010927,9
19,0.164146,0.004821,0.006721,0.000485,6,25,"{'max_depth': 6, 'min_samples_leaf': 25}",0.744743,0.773312,0.749751,0.742428,0.757865,0.753620,0.011179,8
20,0.192842,0.010699,0.006902,0.000735,7,5,"{'max_depth': 7, 'min_samples_leaf': 5}",0.750283,0.772922,0.748965,0.746332,0.751736,0.754048,0.009603,7
21,0.190304,0.009018,0.007342,0.000693,7,10,"{'max_depth': 7, 'min_samples_leaf': 10}",0.746174,0.776135,0.753786,0.748127,0.754017,0.755648,0.010698,4
22,0.187715,0.003990,0.007157,0.000747,7,15,"{'max_depth': 7, 'min_samples_leaf': 15}",0.751539,0.775519,0.754668,0.744366,0.754193,0.756057,0.010404,3
23,0.192069,0.011042,0.006721,0.000645,7,20,"{'max_depth': 7, 'min_samples_leaf': 20}",0.752030,0.777871,0.751890,0.746264,0.755490,0.756709,0.010986,1
24,0.190975,0.009599,0.007230,0.001100,7,25,"{'max_depth': 7, 'min_samples_leaf': 25}",0.754286,0.776260,0.752413,0.744892,0.754629,0.756496,0.010491,2
25,0.207671,0.002036,0.006573,0.000622,8,5,"{'max_depth': 8, 'min_samples_leaf': 5}",0.739880,0.768133,0.744998,0.742937,0.747731,0.748736,0.010033,19
26,0.206404,0.001388,0.006429,0.000439,8,10,"{'max_depth': 8, 'min_samples_leaf': 10}",0.747924,0.772180,0.745681,0.742989,0.749987,0.751753,0.010476,16
27,0.208352,0.006894,0.006742,0.000715,8,15,"{'max_depth': 8, 'min_samples_leaf': 15}",0.748318,0.773953,0.750003,0.738369,0.750201,0.752169,0.011734,13
28,0.208386,0.004342,0.006544,0.000440,8,20,"{'max_depth': 8, 'min_samples_leaf': 20}",0.747944,0.775818,0.746487,0.742530,0.752034,0.752963,0.011825,11
29,0.210287,0.005174,0.007101,0.000761,8,25,"{'max_depth': 8, 'min_samples_leaf': 25}",0.750242,0.776955,0.748035,0.743629,0.755295,0.754831,0.011683,5
30,0.296029,0.033724,0.007778,0.001691,9,5,"{'max_depth': 9, 'min_samples_leaf': 5}",0.733829,0.769310,0.738010,0.733221,0.735545,0.741983,0.013765,25
31,0.263282,0.019323,0.008069,0.002814,9,10,"{'max_depth': 9, 'min_samples_leaf': 10}",0.749278,0.773196,0.745236,0.740773,0.741520,0.750001,0.011986,17
32,0.315723,0.053903,0.008418,0.002392,9,15,"{'max_depth': 9, 'min_samples_leaf': 15}",0.748140,0.769770,0.746424,0.737677,0.747085,0.749820,0.010652,18
33,0.291347,0.055372,0.008267,0.001984,9,20,"{'max_depth': 9, 'min_samples_leaf': 20}",0.749579,0.773171,0.746927,0.741968,0.747650,0.751859,0.010948,15
34,0.401706,0.066512,0.016968,0.008419,9,25,"{'max_depth': 9, 'min_samples_leaf': 25}",0.751792,0.773834,0.749366,0.742852,0.753300,0.754229,0.010433,6

In [ ]:
# best results using a max_depth of 7 and min samples leaf of 25
# looking at the